# 공통
node_modules/
dist/
*.log
.env
.env.production

# 수정 (폴더 전체는 무시, settings.json만 예외로 올리기)
.vscode/*
!.vscode/settings.json

# 에디터
.DS_Store
.idea/

# 빌드 산출물
build/
out/
coverage/

# 기타
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
